{% extends 'main/base.html' %}
{% load static %}

{% block content %}
<section class="page-section fade-in">
    <h2>Contact Me</h2>
    <p>Reach out for projects, collaborations, or consultations.</p>

    <div class="page-content contact-info">
        <a href="https://mail.google.com/mail/?view=cm&fs=1&to=duncankivindyo@gmail.com" target="_blank">
    duncankivindyo@gmail.com
</a>

        
            <i class="fas fa-phone"></i>
            <a href="tel:+254100251804">+254100251804</a>
        </p>

        <div class="socials">
            <a href="https://web.facebook.com/duncan.kivindyo.5/" target="_blank" rel="noopener noreferrer">
                <i class="fab fa-facebook-f"></i>
            </a>
            <a href="https://twitter.com/KivindyoDuncan" target="_blank" rel="noopener noreferrer">
                <i class="fab fa-twitter"></i>
            </a>
            <a href="https://instagram.com/duncan_kivindyo" target="_blank" rel="noopener noreferrer">
                <i class="fab fa-instagram"></i>
            </a>
            <a href="https://linkedin.com/in/duncan-kivindyo" target="_blank" rel="noopener noreferrer">
                <i class="fab fa-linkedin-in"></i>
            </a>
            <a href="https://github.com/duncankyalo" target="_blank" rel="noopener noreferrer">
                <i class="fab fa-github"></i>
            </a>
        </div>
    </div>
</section>
{% endblock %}

